.card-text {
  text-align: center;
}

.card-body {
  text-align: center;
}

.card {
    word-wrap: break-word;
    margin-top: auto;
    margin-bottom: auto;
  }

.p {
  margin-top: 0;
  margin-bottom: 1rem;
}


